==
<?php 
function onStart()
{
    Event::listen('cms.page.init', function($controller, $page) {
        $messageIds = [$page->title, $page->seo_title];
        
            if (isset($page->apiBag['staticPage']))
            {
                $vars = $page->apiBag['staticPage']->getViewBag();
                $messageIds[] = $vars->property('seo_title');
                $vars->setProperty('seo_title', Message::get($vars->property('seo_title')));
            }
            
            Message::importMessages($messageIds);
            $page->title = Message::get($page->title);
            
            if ($page->seo_title)
            {
                $page->seo_title = Message::get($page->seo_title);
            }
        });
    $this['rootPath'] = url('/');
    $this['currentLocale'] = app()->getLocale();
	$this['currentLocaleCyr'] = ($this['currentLocale'] == 'ru') ? 'рус' : 'укр';
}
?> 
==
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SPASTIKA - {{ this.page.title|_ }}</title>
    <meta name="description" content="{{ this.page.meta_description|_ }}" />
    <meta name="title" content="{{ this.page.meta_title|_ }}" />
    <meta name="author" content="Oleg Levitsky https://github.com/levabd" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="article">
    <meta property="og:title" content="SPASTIKA - {{ this.page.title|_ }}">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="SPASTIKA">
    <meta property="og:image" content="{{ 'assets/images/android-icon-192x192.png'|theme }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="SPASTIKA">
    <meta name="twitter:image" content="{{ 'assets/images/android-icon-192x192.png'|theme }}">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/images/apple-icon-57x57.png'|theme }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/images/apple-icon-60x60.png'|theme }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/images/apple-icon-72x72.png'|theme }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/images/apple-icon-76x76.png'|theme }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/images/apple-icon-114x114.png'|theme }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/images/apple-icon-120x120.png'|theme }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/images/apple-icon-144x144.png'|theme }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/images/apple-icon-152x152.png'|theme }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-icon-180x180.png'|theme }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ 'assets/images/android-icon-192x192.png'|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32x32.png'|theme }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'assets/images/favicon-96x96.png'|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16x16.png'|theme }}">
    <link rel="manifest" href="{{ 'assets/images/manifest.json'|theme }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'assets/images/ms-icon-144x144.png'|theme }}">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
    <link href="{{ [
	'assets/vendor/font-awesome/css/font-awesome.min.css',
	'assets/vendor/bootstrap/css/bootstrap.min.css',
	'assets/vendor/malihu-custom-scrollbar-plugin-3.1.5/jquery.mCustomScrollbar.min.css',
	'assets/vendor/animate.min.css',
	'assets/vendor/jssocials-1.4.0/jssocials.css',
	'assets/vendor/jssocials-1.4.0/jssocials-theme-plain.css',
	'assets/css/main.css',
	'assets/css/chat.css'
]|theme }}" rel="stylesheet"> {% styles %}
</head>

<body>
    <!--Rotate screen-->
    <div id="rotate640">
        <div class="status"></div>
    </div>

    <!-- Header -->
    <header id="layout-header" class="fixed-top hide640">
        {% partial 'site/header' %}
    </header>
    <div class="scroll-bar hide640">
        <div class="fill"></div>
    </div>

    <!-- Content -->
    <section id="layout-content" class="hide640">
        {% page %}
    </section>

    <!-- Chat box -->
    <section id="layout-chat" class="hide640">
        {% partial 'site/chat.' ~ currentLocale ~ '.htm' %}
    </section>

    <!-- Footer -->
    <footer id="layout-footer" class="hide640">
        {% partial 'site/footer' %}
    </footer>

    <!-- Scripts -->
    <script src="{{ [
	'assets/vendor/jquery-3.2.1.min.js',
	'assets/vendor/malihu-custom-scrollbar-plugin-3.1.5/jquery.mCustomScrollbar.concat.min.js',
	'assets/vendor/popper.min.js',
	'assets/vendor/bootstrap/js/bootstrap.min.js',
	'assets/vendor/multislider/js/multislider.min.js',
	'assets/vendor/jssocials-1.4.0/jssocials.min.js',
	'assets/javascript/app.js'
]|theme }}"></script>
    <script type="text/javascript">
        // Base animations
        function doAnimations(elems) {
            var animEndEv = "webkitAnimationEnd animationend";

            elems.each(function() {
                var $this = $(this),
                    $animationType = $this.data("animation");

                $this.addClass($animationType).one(animEndEv, function() {
                    $this.removeClass($animationType);
                });
            });
        }
		
		var rootPath = "{{ rootPath }}";
    </script>
    {% framework extras %} {% scripts %}

    <script src="{{ rootPath ~ '/themes/spastika/assets/javascript/chat.' ~ currentLocale ~ '.js' }}"></script>

</body>

</html>