<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SPASTIKA - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}" />
    <meta name="title" content="{{ this.page.meta_title }}" />
    <meta name="author" content="Oleg Levitsky https://github.com/levabd" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="article">
    <meta property="og:title" content="SPASTIKA - {{ this.page.title }}">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="SPASTIKA">
    <meta property="og:image" content="{{ 'assets/images/android-icon-192x192.png'|theme }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="SPASTIKA">
    <meta name="twitter:image" content="{{ 'assets/images/android-icon-192x192.png'|theme }}">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/images/apple-icon-57x57.png'|theme }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/images/apple-icon-60x60.png'|theme }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/images/apple-icon-72x72.png'|theme }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/images/apple-icon-76x76.png'|theme }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/images/apple-icon-114x114.png'|theme }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/images/apple-icon-120x120.png'|theme }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/images/apple-icon-144x144.png'|theme }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/images/apple-icon-152x152.png'|theme }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-icon-180x180.png'|theme }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ 'assets/images/android-icon-192x192.png'|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32x32.png'|theme }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'assets/images/favicon-96x96.png'|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16x16.png'|theme }}">
    <link rel="manifest" href="{{ 'assets/images/manifest.json'|theme }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'assets/images/ms-icon-144x144.png'|theme }}">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
    <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/malihu-custom-scrollbar-plugin-3.1.5/jquery.mCustomScrollbar.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/chat.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/animate.min.css'|theme }}"> {% styles %}
</head>

<body>

    <!-- Header -->
    <header id="layout-header" class="container">
        {% partial 'site/header' %}
    </header>
    <div class="scroll-bar">
        <div class="fill"></div>
    </div>

    <!-- Content -->
    <section id="layout-content">
        {% page %}
    </section>

    <!-- Chat box -->
    <section id="layout-chat">
        {% partial 'site/chat' %}
    </section>

    <!-- Footer -->
    <footer id="layout-footer">
        {% partial 'site/footer' %}
    </footer>

    <!-- Scripts -->
    <script src="{{ 'assets/vendor/jquery-3.2.1.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/malihu-custom-scrollbar-plugin-3.1.5/jquery.mCustomScrollbar.concat.min.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/chat.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/popper.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js'|theme }}"></script>
    <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
    <script type="text/javascript">
        // Base animations
        function doAnimations(elems) {
            var animEndEv = 'webkitAnimationEnd animationend';

            elems.each(function() {
                var $this = $(this),
                    $animationType = $this.data('animation');

                $this.addClass($animationType).one(animEndEv, function() {
                    $this.removeClass($animationType);
                });
            });
        }
    </script>
    {% framework extras %} {% scripts %}

</body>

</html>