<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>SPASTIKA - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}" />
    <meta name="title" content="{{ this.page.meta_title }}" />
    <meta name="author" content="Oleg Levitsky https://github.com/levabd" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/images/apple-icon-57x57.png'|theme }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/images/apple-icon-60x60.png'|theme }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/images/apple-icon-72x72.png'|theme }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/images/apple-icon-76x76.png'|theme }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/images/apple-icon-114x114.png'|theme }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/images/apple-icon-120x120.png'|theme }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/images/apple-icon-144x144.png'|theme }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/images/apple-icon-152x152.png'|theme }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-icon-180x180.png'|theme }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ 'assets/images/android-icon-192x192.png'|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/favicon-32x32.png'|theme }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'assets/images/favicon-96x96.png'|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/favicon-16x16.png'|theme }}">
    <link rel="manifest" href="{{ 'assets/images/manifest.json'|theme }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'assets/images/ms-icon-144x144.png'|theme }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/css/font-awesome.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/vendor/bootstrap/css/bootstrap.min.css'|theme }}"> {% styles %}
</head>

<body>

    <!-- Header -->
    <header id="layout-header">
        {% partial 'site/header' %}
    </header>

    <!-- Content -->
    <section id="layout-content">
        {% page %}
    </section>

    <!-- Chat box -->
    <footer id="layout-chat">
        {% partial 'site/chat' %}
    </footer>

    <!-- Footer -->
    <footer id="layout-footer">
        {% partial 'site/footer' %}
    </footer>

    <!-- Scripts -->
    <script src="{{ 'assets/vendor/jquery-3.2.1.slim.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/popper.min.js'|theme }}"></script>
    <script src="{{ 'assets/vendor/bootstrap/js/bootstrap.min.js'|theme }}"></script>
    {% framework extras %} {% scripts %}

</body>

</html>