.DS_Store
*.log

#October CMS

storage/framework/cache/
storage/framework/sessions/
storage/cms/cache/
storage/framework/sessions/
storage/cms/twig/
themes/spastika/design_layouts/spasticity_step_1.psd
