<a href="#" id="chat_toggle">
    <!--div class="circlechat" style="transform-origin: center;"></div>
    <div class="circle-fill" style="transform-origin: center;"></div-->
    <div class="img-circle" style="transform-origin: center;">
        <div class="img-circleblock" style="transform-origin: center;"></div>
    </div>
</a>

<div class="chat" style="display: none;">
    <div class="chat-title row">
        <div class="col-xs-8 col-md-8 col-sm-8 col-lg-8" style="width: 80%;">
            <h1>Коротка довідка</h3>
        </div>
        <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4" style="text-align: right; width: 20%;">
            <a href="#" id="minim_chat_window">
                <div class="window-minimize-thin"></div>
            </a>
            <a href="#" id="close_chat_window">
                <div class="x"></div>
            </a>
        </div>
    </div>
    <div class="messages" id="chat_window">
        <div class="messages-content">
		</div>
    </div>
    <div style="display: none;" class="message-box">
        <textarea type="text" class="message-input" placeholder="Задати питання..."></textarea>
        <button type="submit" class="message-submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        <hr />
    </div>

</div>