<div id="footer">
    <div class="container">
        <div class="upper d-none d-sm-block">
            <a href="#" id="upper">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <span class="logo-p1">Spasti</span>
                <span class="logo-p2">ka</span>
            </div>
            <div class="d-none d-lg-block d-xl-block col-md-2 menu">
                <a class="simple-link" href="{{ 'home'|page }}">{{ 'title.home'|_ }}</a>
            </div>
            <div class="d-none d-lg-block d-xl-block col-md-2 menu">
                <a class="simple-link" href="{{ 'spastika'|page }}">{{ 'title.spastika'|_ }}</a>
            </div>
            <div class="d-none d-lg-block d-xl-block col-md-2 menu">
                <a class="simple-link" href="{{ 'reabilitation'|page }}">{{ 'title.reabilitation'|_ }}</a>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-md-8 description">
                {% content "footer.htm" %}
            </div>
            <div class="col-12 col-md-3 community">
                <div class='icon social fcb'>
                    <a href="#">
                        <i class='fa fa-facebook'></i>
                    </a>
                </div>
                <div class='icon social tw'>
                    <a href="#">
                        <i class='fa fa-twitter'></i>
                    </a>
                </div>
                <div class='icon social gp'>
                    <a href="#">
                        <i class='fa fa-google-plus'></i>
                    </a>
                </div>
                <div class='icon social in'>
                    <a href="#">
                        <i class='fa fa-linkedin'></i>
                    </a>
                </div>
            </div>
        </div>
        <hr />
        <p class="copyright">&copy; 2017 - {{ "now"|date("Y") }} SPASTIKA.COM.UA</p>
    </div>
</div>