<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6"><span class="logo-p1">Spasti</span><span class="logo-p2">ka</span></div>
            <div class="d-none d-md-block d-lg-block d-lx-block col-md-2 menu"><a href="#">Інсульт</a></div>
            <div class="d-none d-md-block d-lg-block d-lx-block col-md-2 menu"><a href="#">Спастичність</a></div>
            <div class="d-none d-md-block d-lg-block d-lx-block col-md-2 menu"><a href="#">Реабілітація</a></div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-md-6 description">
                Інформація, що опублікована на сайті, призначена лише для ознайомлення. Описані методи діагностики, лікування і т.п. самостійно використовувати не рекомендується. Обов'язково проконсультуйтесь зі спеціалістом, аби не завдати шкоди своєму здоров'ю або
                здоров'ю ваших близьких.
            </div>
            <div class="col-12 col-md-3 community">
                <div class='icon social fcb'><a href="#"><i class='fa fa-facebook'></i></a></div>
                <div class='icon social tw'><a href="#"><i class='fa fa-twitter'></i></a></div>
                <div class='icon social gp'><a href="#"><i class='fa fa-google-plus'></i></a></div>
                <div class='icon social in'><a href="#"><i class='fa fa-linkedin'></i></a></div>
            </div>
        </div>
        <hr />
        <p class="copyright">&copy; 2017 - {{ "now"|date("Y") }} SPASTIKA.COM.UA</p>
    </div>
</div>