<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top container" id="navbar">
    <a href="{{ 'home'|page }}" class="navbar-brand"><span class="logo-p1">Spasti</span><span class="logo-p2">ka</span></a>
    <ul class="nav navbar-nav d-flex d-lg-none">
        {% component 'localePicker' %}
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarMobileNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item text-center {% if this.page.id == 'home' %}active{% endif %}">
                <a class="nav-link" href="{{ 'home'|page }}">{{ 'title.home'|_ }}</a>
            </li>
            <li class="nav-item text-center {% if this.page.id == 'spastika' %}active{% endif %}">
                <a class="nav-link" href="{{ 'spastika'|page }}">{{ 'title.spastika'|_ }}</a>
            </li>
            <li class="nav-item text-center {% if this.page.id == 'reabilitation' %}active{% endif %}">
                <a class="nav-link" href="{{ 'reabilitation'|page }}">{{ 'title.reabilitation'|_ }}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-toggler-right">
            <span class="d-none d-lg-inline">{% component 'localePicker' %}</span>
            <a href="{{ 'apply'|page }}" class="btn btn-primary" role="button">{{ 'On-line помощь'|_ }}</a>
        </ul>
    </div>
</nav>