@font-face {
    font-family: 'MyriadProBlack';
    src: url('../fonts/MyriadPro-Black.eot');
    src: url('../fonts/MyriadPro-Black.eot?#iefix') format('embedded-opentype'), /*url('../fonts/MyriadPro-Black.woff2') format('woff2'), */
    url('../fonts/MyriadPro-Black.woff') format('font-woff'), url('../fonts/MyriadPro-Black.ttf') format('truetype'), url('../fonts/MyriadPro-Black.svg#MyriadPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProLight';
    src: url('../fonts/myriadpro-light-webfont.eot');
    src: url('../fonts/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'), /*url('../fonts/myriadpro-light-webfont.woff2') format('woff2'), */
    url('../fonts/myriadpro-light-webfont.woff') format('font-woff'), url('../fonts/myriadpro-light-webfont.ttf') format('truetype'), url('../fonts/myriadpro-light-webfont.svg#MyriadProLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'STIXGeneral-Bold';
    src: url('../fonts/STIXGeneral-Bold.eot');
    src: url('../fonts/MyriadPro-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/STIXGeneral-Bold.woff') format('font-woff'), url('../fonts/STIXGeneral-Bold.ttf') format('truetype'), url('../fonts/STIXGeneral-Bold.svg#STIXGeneral-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}


/*------------------- General --------------------*/

body,
html {
    color: #4a5665;
}

.btn-primary {
    background-color: #f5a98a !important;
    text-transform: uppercase;
    border: none;
    border-bottom: 4px solid #d5724b;
    border-radius: .25rem;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 1.1rem 4.0625rem;
}

.btn-primary:hover {
    background-color: #d5724b !important;
    border-bottom: 4px solid #b33a00;
}

.btn-outline-secondary {
    border-color: #ccc;
    border-radius: .25rem;
    color: #515151;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: .65rem 2.1rem;
    line-height: 1.875;
}

.btn-outline-secondary:hover i {
    color: #fff;
}

.btn-outline-secondary i {
    color: #808080;
    font-size: 20px;
    padding-left: .65rem;
    line-height: 1.5;
    vertical-align: middle;
}

.page-block {
    padding: 5rem 0;
}

.page-block::before {
    content: "";
    display: block;
    width: 65px;
    margin: 0 47%;
    margin: 0 calc(50% - 32px);
    margin: 0 -webkit-calc(50% - 32px);
    margin: 0 -moz-calc(50% - 32px);
    margin: 0 -o-calc(50% - 32px);
    margin: 0 expression(50% - 32px);
    border-top: 2px solid #63dafd;
}

.page-block .title {
    font-family: 'Vollkorn', serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin: 1.4rem 0 1.875rem;
}

.more {
    text-align: center;
    margin: 3.75rem 0 0;
}


/*--------------------- Logo ---------------------*/

.logo-p1 {
    font-family: 'MyriadProBlack', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.logo-p2 {
    font-family: 'MyriadProLight', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}


/*------------------- Spastika -------------------*/

.jumbotron {
    background: url("../images/spastika/spastika_head.png") no-repeat scroll center top transparent;
    height: 700px;
    margin-bottom: 0;
}

.jumbotron .row {
    font-family: 'Vollkorn', serif;
    line-height: 1;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 7.25rem;
}

.jumbotron .row b {
    font-size: 3.75rem;
}

.jumbotron .btn-primary {
    margin: 30px 15px;
}

#causes .row:first-of-type {
    margin-bottom: 30px;
}

#causes .row .col-3 {
    text-align: center;
    max-width: 120px;
    margin-bottom: 60px;
}

#causes .row .col-9 {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 60px;
}

#causes .row .col-9 b {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
}

#causes .row .col-9 span {
    font-size: 16px;
    line-height: .1;
}

#causes .more {
    margin-top: 1.825rem;
}

#hand-position {
    background-color: #f0f5f5;
    padding: 5rem 30px;
}

#hand-position .union {
    padding: 0;
    margin: 50px 30px 45px;
    width: 90%;
    width: calc(100% - 60px);
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: -o-calc(100% - 60px);
    width: expression(100% - 60px);
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    -ms-flex: 0 0 calc(100% - 60px);
    flex: 0 0 calc(100% - 60px);
    -ms-flex: 0 0 -webkit-calc(100% - 60px);
    flex: 0 0 -webkit-calc(100% - 60px);
    -ms-flex: 0 0 -moz-calc(100% - 60px);
    flex: 0 0 -moz-calc(100% - 60px);
    -ms-flex: 0 0 -o-calc(100% - 60px);
    flex: 0 0 -o-calc(100% - 60px);
    -ms-flex: 0 0 expression(100% - 60px);
    flex: 0 0 expression(100% - 60px);
    position: relative;
    border: none;
    height: 12px;
    border-top: 1px solid #96a3b4;
    border-left: 1px solid #96a3b4;
    border-right: 1px solid #96a3b4;
    text-align: center;
}

#hand-position .union div {
    position: absolute;
    left: 40%;
    left: calc(50% - 75px);
    left: -webkit-calc(50% - 75px);
    left: -moz-calc(50% - 75px);
    left: -o-calc(50% - 75px);
    left: expression(50% - 75px);
    top: -40px;
    width: 150px;
    background-color: #f0f5f5;
    font: 400 16px/1 'Ubuntu', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#hand-position .union div b {
    letter-spacing: normal;
    font: 700 36px/1.5 'Open Sans', sans-serif;
}

#hand-position .hand {
    text-align: center;
    font: 700 28px/1 'Open Sans', sans-serif;
}

#hand-position hr {
    position: relative;
    border: none;
    border-top: 1px solid #96a3b4;
    margin: 1.25rem 10px 1.625rem;
}

#hand-position hr::before,
#hand-position hr::after {
    content: "\f096";
    display: inline-block;
    font-family: FontAwesome;
    position: absolute;
    font-size: 9px;
    color: #96a3b4;
    left: -7px;
    top: -5px;
}

#hand-position hr::after {
    right: -7px;
    left: auto;
}

#hand-normal {
    background: url("../images/spastika/hand-normal-bkg.png") no-repeat scroll center top #44b9ea;
    height: 440px;
    margin-bottom: 0;
    padding-top: 6rem;
}

#hand-normal img {
    height: 222px;
    width: 222px;
    margin-bottom: 30px;
    display: block;
    float: left;
}

#hand-normal .row {
    font: 300 22px/1 'Ubuntu', serif;
    color: #fff;
}

#hand-normal .row div div {
    padding: 1px 0 0 260px;
    text-indent: -45px;
}

#hand-normal .row div div::before {
    content: "“";
    position: relative;
    left: -25px;
    top: 20px;
    font: 700 80px/1 'STIXGeneral-Bold';
}

#hand-normal .row div div a {
    margin-top: 35px;
    text-indent: 0;
}

#sympthoms {
    padding-top: 8.5rem;
}

#sympthoms::before {
    margin: 0 53%;
    margin: 0 calc(50% + 32px);
    margin: 0 -webkit-calc(50% + 32px);
    margin: 0 -moz-calc(50% + 32px);
    margin: 0 -o-calc(50% + 32px);
    margin: 0 expression(50% + 32px);
}

#sympthoms .container .col:first-of-type {
    margin-top: -3.5rem;
}

#sympthoms .title {
    text-align: left;
    line-height: 1;
    margin: 1.4rem 18px 1.875rem;
}

#sympthoms li {
    line-height: 1;
    margin-bottom: 35px;
}

#complications .complication {
    margin-top: 40px;
}

#complications .col-12 {
    margin-left: 40px;
}

#complications .complication img {
    width: 100%;
}

#complications .complication div {
    border: none;
    border-bottom: 5px solid;
    box-shadow: 0 6px 16px rgba(25, 55, 63, 0.15);
    font: 700 16px/1 'Ubuntu', serif;
    text-transform: uppercase;
}

#complications .complication span {
    display: block;
    min-height: 5rem;
    padding: 1rem 2rem 1rem 1.5rem;
}

#complications .container .row .complication:nth-of-type(4n+2) div {
    border-bottom-color: #f79168
}

#complications .container .row .complication:nth-of-type(4n) div {
    border-bottom-color: #63dafd;
}

#life-quality .title {
    margin-bottom: 5rem;
}

#life-quality .carousel-caption {
    text-align: left;
    left: 8.333333%;
}

#life-quality .carousel-caption p {
    font: 700 18px/1.2 'Ubuntu', serif;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

#life-quality .carousel-indicators {
    bottom: -70px;
}

#life-quality .carousel-indicators .active {
    background-color: transparent;
    color: #f7936b;
}

#life-quality .carousel-indicators li {
    background-color: transparent;
    cursor: pointer;
    height: 20px;
    width: 20px;
    font: 400 18px/1 FontAwesome;
    text-indent: 0;
    color: #c6c6c6;
}

#life-quality .carousel-indicators li::before {
    content: "\f10c";
}

#life-quality .carousel-indicators .active::before {
    content: "\f192";
}

#treatment {
    background: url("../images/spastika/treatment-bkg.png") no-repeat scroll center top #44b9ea;
    height: 440px;
    margin-bottom: 0;
    padding-top: 5rem;
    margin-top: 5rem;
}

#treatment img {
    height: 222px;
    width: 222px;
    margin-bottom: 30px;
    display: block;
    float: left;
}

#treatment .row {
    font: 300 18px/1.4 'Ubuntu', serif;
    color: #fff;
}

#treatment .row div strong {
    font-weight: 700;
}

#treatment .row div h3 {
    font: 700 2.125rem/1.1 'Vollkorn', serif;
    text-transform: uppercase;
    margin-bottom: 1.75rem;
}

#treatment .col-11:last-of-type {
    padding-top: 1rem;
}

#treatment .row div div {
    font-size: 22px;
    padding: 1px 0 0 260px;
    line-height: 1.4;
    text-indent: -45px;
}

#treatment .row div div::before {
    content: "“";
    position: relative;
    vertical-align: text-bottom;
    left: -25px;
    top: 22px;
    font: 700 80px/1 'STIXGeneral-Bold';
}

#treatment .row div div a {
    margin-top: 35px;
    text-indent: 0;
}

#faq .card {
    border: none;
    border-top: 1px solid #e5e5e5;
    border-radius: 0;
    padding-top: .25rem;
}

#faq .card:first-of-type {
    border-top: none;
}

#faq .card-header a.collapsed {
    margin: 2.5rem 0;
    display: block;
}

#faq .card-header {
    padding: 0;
    background-color: transparent;
    border: none;
}

#faq .card-body {
    padding: 1.25rem 0 2rem;
}

#faq .card-header a {
    color: #4a5665;
    font-size: 18px;
    font-weight: 700;
}

#faq .col-1:before {
    content: '';
    display: inline-block;
    height: 100px;
    vertical-align: middle;
    margin-right: -0.25em;
}

#faq .col-1 {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding-top: 10px;
}

#faq .show.col-1:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#faq .show.col-1 {
    display: inline-block;
    vertical-align: middle;
}

#faq .fa-circle-thinner:before {
    box-sizing: border-box;
    display: block;
    width: 32px;
    height: 32px;
    padding-top: 0.3em;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #c1c1c1;
}

#faq .show .fa-circle-thinner:before {
    background-color: #f79168;
    border-color: #f79168;
}

#faq .show .fa-minus::before {
    content: "-";
    font: 300 2em/.1 'Ubuntu', serif;
    color: #fff;
}

#faq .fa-minus::before {
    content: "+";
    font: 300 26px/.4 'Ubuntu', serif;
}

#faq a .fa {
    color: #c1c1c1;
}

#faq a:hover {
    text-decoration: unset;
}


/*-------------------- Header --------------------*/

.navbar-brand .logo-p1,
.navbar-brand .logo-p2 {
    color: #4a5665;
    font-size: 26px;
}

nav .container {
    padding: 10px 15px;
}

#layout-content {
    margin-top: 80px;
}

.navbar-collapse {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: .5rem 2rem;
    position: relative;
    color: #6f8095;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    color: #f79168;
    text-decoration: none;
}

.navbar-expand-md .navbar-nav .active .nav-link {
    color: #f79168;
}

.navbar-collapse div {
    text-align: center;
}

.navbar-collapse .active a::after {
    content: "";
    background: #f79168;
    position: absolute;
    bottom: 1px;
    left: 42%;
    height: 3px;
    width: 16%;
}

.navbar-collapse.show .active a::after {
    left: 47%;
    width: 5%;
}

.navbar-collapse .btn-primary {
    padding: .8rem 2.35rem;
    border-bottom: none;
}

.navbar {
    background-color: #fff;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(111,128,149, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*-------------------- Footer --------------------*/

#footer .upper {
    position: relative;
    height: 0;
}

#footer .upper a {
    position: absolute;
    bottom: 68px;
    right: -55px;
    height: 40px;
    width: 40px;
    background: #ececec;
    border-radius: 10px;
}

#footer .upper a i {
    color: #2d2d2d;
    font-size: 30px;
    padding: 3px 0 0 11px;
}

#footer .upper a:hover i {
    color: #2d2d2d;
}

#footer {
    background-color: #2d2d2d;
    min-height: 310px;
    padding: 35px 0;
}

#footer hr {
    margin-top: 40px;
    margin-bottom: 10px;
    border-color: #4c4c4c;
}

#footer .description {
    font-family: 'Ubuntu', sans-serif;
    color: #6c6c6c;
    font-weight: 300;
    padding-top: 40px;
    font-size: 14px;
    line-height: 1.3;
}

#footer .community {
    padding-top: 40px;
}

#footer .community a {
    color: #262626;
}

#footer .community .icon {
    position: relative;
    text-align: center;
    width: 0px;
    height: 0px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    color: #fff;
}

#footer .community .icon i {
    font-size: 20px;
    position: absolute;
    left: 9px;
    top: 10px;
}

#footer .community .icon.social {
    float: left;
    margin: 0 31px 10px 0;
    cursor: pointer;
    background: #6c6c6c;
    color: #262626;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

#footer .community .icon.social:last-of-type {
    margin-right: 0;
}

#footer .community .icon.social:hover {
    background: #262626;
    color: #6c6c6c;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
}

#footer .community .icon.social.fcb i,
#footer .community .icon.social.tw i,
#footer .community .icon.social.in i {
    left: 13px;
}

#footer .menu {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
}

#footer .menu a {
    color: #e6e6e6;
}

#footer .menu a:hover {
    text-decoration: unset;
    color: #b6b6b6;
}

#footer .copyright {
    font-family: 'Ubuntu', sans-serif;
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 700;
    padding-top: 20px;
    text-align: center;
}

#footer .logo-p1,
#footer .logo-p2 {
    font-size: 26px;
    color: #e6e6e6;
}